<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    @vite(['resources/css/app.css', 'resources/js/app.js'])
    <title>
      {{ title }}
    </title>

   
  </head>
  <body>
   
    <header class="flex flex-wrap sm:justify-start sm:flex-nowrap w-full bg-white text-sm py-3 dark:bg-neutral-800">
      <nav class="max-w-[85rem] w-full mx-auto px-4 sm:flex sm:items-center sm:justify-between">
        <a class="flex-none font-semibold text-xl text-black focus:outline-hidden focus:opacity-80 dark:text-white" href="#" aria-label="Brand">Unugha</a>
        <div class="flex flex-row items-center gap-5 mt-5 sm:justify-end sm:mt-0 sm:ps-5">
          
          @eval(await auth.check())

          @if(auth.isAutenticated)

          <div>{{ auth.user.name}}</div>

          <form action="/logout?_method=DELETE" method="post">

            {{ csrfField() }}

            <button class="text-gray-600 font-medium hover:text-gray-400">log out</button>

          </form>

          
          <div>Log out</div>

          @else
            <a href="/login" class="text-gray-600 font-medium hover:text-gray-400">Log in</a>

            <a href="/register" class="text-gray-600 font-medium hover:text-gray-400">register</a>
          @end

        </div>
      </nav>
    </header>

    <main class="grow">
        {{{ await $slots.main()}}}
    </main>

  </body>
</html>
